{% extends "layout.html" %}
	{% block content %}

	<title>jQuery UI Slider - Range slider</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		$( "#temp-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 40, 90 ],
			slide: function( event, ui ) {
				// On change
				var min_F = ui.values[ 0 ];
				var max_F = ui.values[ 1 ];
				var min_C = ((5/9)*(min_F-32)).toFixed(1);
				var max_C = ((5/9)*(max_F-32)).toFixed(1);
				$( "#temp-field" ).val(min_F + " - " + max_F );
				$( "#temp-field-C" ).val(min_C + " - " + max_C);
			}
		});
		// Initialize
		var min_F = $( "#temp-range" ).slider( "values", 0 );
		var max_F = $( "#temp-range" ).slider( "values", 1 );
		$( "#temp-field" ).val(min_F +
			" - " + max_F );
		var min_C = ((5/9)*(min_F-32)).toFixed(1);
				var max_C = ((5/9)*(max_F-32)).toFixed(1);
		$( "#temp-field-C" ).val(min_C + " - " + max_C );
	} );
	</script>

	<script>
	$( function() {
		$( "#humidity-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 80 ],
			slide: function( event, ui ) {
				$( "#humidity-field" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
			}
		});
		$( "#humidity-field" ).val($( "#humidity-range" ).slider( "values", 0 ) +
			" - " + $( "#humidity-range" ).slider( "values", 1 ) );
	} );
	</script>

	<script>
	$( function() {
		$( "#precip-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 30 ],
			slide: function( event, ui ) {
				$( "#precip-field" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
			}
		});
		$( "#precip-field" ).val($( "#precip-range" ).slider( "values", 0 ) +
			" - " + $( "#precip-range" ).slider( "values", 1 ) );
	} );
	</script>

	<script>
	$( function() {
		$( "#time-range" ).slider({
			range: true,
			min: 0,
			max: 24,
			values: [ 7, 18 ],
			slide: function( event, ui ) {
				var time_min = ui.values[0]
				var time_max = ui.values[1]

				// Handle time_min
				if (time_min < 12) {
					var tod_min = 'AM'
				}
				else {
					var time_min = time_min-12
					if (time_min == 12){
						time_min = "11:59"
					}
						var	tod_min = 'PM'
				}

				if (time_min == 0) {
					var time_min = 12
				}

				// Handle time_max
				if (time_max < 12) {
					var tod_max = 'AM'
				}
				else {
					var time_max = time_max-12
					if (time_max == 12){
						time_max = "11:59"
					}
					var	tod_max = 'PM'
				}

				if (time_max == 0) {
					var time_max = 12
				}


				$( "#time-field" ).val(time_min + " " + tod_min + " - " + time_max  + " " + tod_max);
			}
		});
		var time_min = $( "#time-range" ).slider( "values", 0 )
		var time_max = $( "#time-range" ).slider( "values", 1 )
		
		if (time_min < 12) {
			var tod_min = 'AM'
		}
		else {
			var time_min = time_min-12
			var	tod_min = 'PM'
		}

		if (time_min == 0) {
			var time_min = 12
		}

		if (time_max < 12) {
			var tod_max = 'AM'
		}
		else {
			var time_max = time_max-12
			if (time_max == 12){
				tod_max = 'AM'
			}
			else {
				var	tod_max = 'PM'
			}
		}

		if (time_max == 0) {
			var time_max = 12
		}
		$( "#time-field" ).val(time_min + " " + tod_min + " - " + time_max + " " + tod_max);
	} );
	</script>

	<div style="padding-right: 15px" class='row'>
		<div class='mt-2 col-4'>
			<div class="sticky-top">
				<h3 class='border-bottom'><b>How it works:</b></h3> <p> Provide a location and select ranges for your desired weather conditions. When you hit "Search" we take these criteria and filter the 7-day future weather forecast for your area and report back the times that match these criteria. 
				</br></br>
				Optional: if you check the box at the bottom of the form and provide us your email address, we will search the forecast daily for your conditions and email you when we find a match.
			</div>
		</div>

		<div class="col content-section">
			<h3> <b>Search Form </b></h3>
			<hr class='class-2'>

			<form method="POST" action="">

				{{ form.hidden_tag() }}

				<fieldset class="form-group">

				<div id='gps-div' class="form-group">
					<div class="row">
						<div class="col">
							{{ form.gps_str.label }}
							{% if form.gps_str.errors %}
								{{ form.gps_str(class="form-control form-control-sm is-invalid col") }}
								<div class="invalid-feedback">
									{% for error in form.gps_str.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.gps_str(class="form-control form-control-sm col-md") }} 
							{% endif %}
						</div>
						<div class="col-sm-2">
							<p align="center"> <b>OR</b> use address to find coordinates: </p>
						</div>
					<div class="col">
						{{ form.address.label }}
							{% if form.address.errors %}
								{{ form.address(class="form-control form-control-sm is-invalid col-md") }}
								<div class="invalid-feedback">
									{% for error in form.address.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.address(class="form-control form-control-sm col-md") }} 
							{% endif %}
						<button type="button" class="mt-2 btn btn-sm btn-primary" onclick="ajaxget()">Click to find coordinates</button>
					</div>
				</div>

				<hr class='class-2'>
				
				<div id='time-div'>
					<div class="row">
						<div class="col">
						{{ form.time.label }}
						{% if form.time.errors %}
							{{ form.time(readonly=true, class="form-control form-control-sm is-invalid col-md-8 mb-2 ") }}
							<div class="invalid-feedback">
								{% for error in form.time.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.time(readonly=true, class="form-control form-control-sm col-md-8 mb-2 ") }}
						{% endif %}
						</div>
						<div class="col">
						</div>
						<div class="col">
						</div>
					</div>
					<div class='my-slider' id="time-range"></div>
				</div> <!-- time div -->

				<hr class='class-2'>

				<div id='temp-div'>
					<div class="row">
						<div class="col">
							{{ form.temp.label }}
							{% if form.temp.errors %}
								{{ form.temp(readonly=true, class="form-control form-control-sm is-invalid col-md-8 mb-2") }}
								<div class="invalid-feedback">
									{% for error in form.temp.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.temp(readonly=true, class="form-control form-control-sm col-md-8 mb-2 ") }} 
							{% endif %}
						</div>
						<div align="center" class="col">
							<label for="temp-field-C">Temperature (&deg;C)</label></br>
							<input readonly class="form-control form-control-sm col-md-8" id="temp-field-C" name="temp-C" type="text"> 
						</div>
						<div class="col">
						</div>
					</div>
					<div class='my-slider' id="temp-range"></div>
				</div> <!-- temp div -->
				
				<hr class='class-2'>

				<div>
					<!-- <label for="temp-field">Temperature (&deg;F):</label>
					<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
					<div class="row">
						<div class="col">
						{{ form.humidity.label }}
						{% if form.humidity.errors %}
							{{ form.humidity(readonly=true, class="form-control form-control-sm is-invalid col-md-8 mb-2 ") }}
							<div class="invalid-feedback">
								{% for error in form.humidity.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.humidity(readonly=true, class="form-control form-control-sm col-md-8 mb-2 ") }}
						{% endif %}
						</div>
						<div class="col">
						</div>
						<div class="col">
						</div>
					</div>
					<div class='my-slider' id="humidity-range"></div>
				</div>

				<hr class='class-2'>

				<div>
					<!-- <label for="temp-field">Temperature (&deg;F):</label>
					<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
					<div class="row">
						<div class="col">
						{{ form.precip.label }}
						{% if form.precip.errors %}
							{{ form.precip(readonly=true, class="form-control form-control-sm is-invalid col-md-8 mb-2") }}
							<div class="invalid-feedback">
								{% for error in form.precip.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.precip(readonly=true, class="form-control form-control-sm col-md-8 mb-2 ") }}
						{% endif %}
						</div>
						<div class="col">
						</div>
						<div class="col">
						</div>
					</div>
					<div class="my-slider" id="precip-range"></div>
				</div>
				
				<hr class='class-2'>
				
				<div class='form-check mb-2'>
					{{ form.email_check(class="form-check-input", onchange="togglefield(this)" ) }}
					{{ form.email_check.label(class="form-check-label") }}
				</div>

				<div class='form-group'>
					<div id="email_field" style="display: none">
						{{ form.email.label }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-sm is-invalid col-md-8") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-sm col-md-8 ") }}
						{% endif %}
					</div>
				</div>

				<hr class='class-2'>
				<div class="form-group">
					{{ form.submit(class="btn btn-primary btn-lg mt-2") }}
				</div>
			</fieldset>
		</form>
	</div> <!-- End of second col div-->
</div> <!-- End of row div-->


<script>
	window.onload = function() {
	var checkboxElem = document.getElementById("email_check")
	var x = document.getElementById("email_field");
	if (checkboxElem.checked) {
		x.style.display = "block";
	} else {
		x.style.display = "none";
		}
	}
</script>

<script>
function togglefield(checkboxElem) {
	var x = document.getElementById("email_field");
	if (checkboxElem.checked) {
		x.style.display = "block";
	} else {
		x.style.display = "none";
		}
	}
</script>

<script>
	function ajaxget(key) {
		var address_elem = document.getElementById('address')
		var address_str = address_elem.value
		$.get("/resolveAddress/" + address_str, function(data) {
		element = document.getElementById("gps_str");
		if (data == "") {
			alert("That address was invalid. Please try again.");
		}
		else {
			element.value = data;
		}
		})
	}
</script>


{% endblock content %}