{% extends "layout.html" %}
{% block content %}

<title>jQuery UI Slider - Range slider</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		$( "#temp-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 70 ],
			slide: function( event, ui ) {
				$( "#temp-field" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
			}
		});
		$( "#temp-field" ).val($( "#temp-range" ).slider( "values", 0 ) +
			" - " + $( "#temp-range" ).slider( "values", 1 ) );
	} );
	</script>

	<script>
	$( function() {
		$( "#humidity-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 70 ],
			slide: function( event, ui ) {
				$( "#humidity-field" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
			}
		});
		$( "#humidity-field" ).val($( "#humidity-range" ).slider( "values", 0 ) +
			" - " + $( "#humidity-range" ).slider( "values", 1 ) );
	} );
	</script>

	<script>
	$( function() {
		$( "#precip-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 70 ],
			slide: function( event, ui ) {
				$( "#precip-field" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
			}
		});
		$( "#precip-field" ).val($( "#precip-range" ).slider( "values", 0 ) +
			" - " + $( "#precip-range" ).slider( "values", 1 ) );
	} );
	</script>


<h1 align="center" class="mb-4">One-time Search Form</h1>
<hr class='class-4'>
 
<form method="POST" action="">

	{{ form.hidden_tag() }}
	<fieldset class="form-group">
	<div class="form-group">
		{{ form.gps_str.label }}
		{% if form.gps_str.errors %}
			{{ form.gps_str(class="form-control form-control-sm is-invalid col-md-3") }}
			<div class="invalid-feedback">
				{% for error in form.gps_str.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.gps_str(class="form-control form-control-sm col-md-3 ") }}
		{% endif %}
	</div>

	<hr class='class-2'>

	<div>
		<!-- <label for="temp-field">Temperature (&deg;F):</label>
		<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
		<div class="form-group">
			{{ form.temp.label }}
			{% if form.temp.errors %}
				{{ form.temp(class="form-control form-control-sm is-invalid col-md-3") }}
				<div class="invalid-feedback">
					{% for error in form.temp.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.temp(class="form-control form-control-sm col-md-3 ") }}
			{% endif %}
		</div>
		<div id="temp-range"></div>
	</div>

	<hr class='class-2'>

	<div>
		<!-- <label for="temp-field">Temperature (&deg;F):</label>
		<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
		<div class="form-group">
			{{ form.humidity.label }}
			{% if form.humidity.errors %}
				{{ form.humidity(class="form-control form-control-sm is-invalid col-md-3") }}
				<div class="invalid-feedback">
					{% for error in form.humidity.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.humidity(class="form-control form-control-sm col-md-3 ") }}
			{% endif %}
		</div>
		<div id="humidity-range"></div>
	</div>

	<hr class='class-2'>

	<div>
		<!-- <label for="temp-field">Temperature (&deg;F):</label>
		<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
		<div class="form-group">
			{{ form.precip.label }}
			{% if form.precip.errors %}
				{{ form.precip(class="form-control form-control-sm is-invalid col-md-3") }}
				<div class="invalid-feedback">
					{% for error in form.precip.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.precip(class="form-control form-control-sm col-md-3 ") }}
			{% endif %}
		</div>
		<div id="precip-range"></div>
	</div>
	

	<hr class='class-2'>
		<input class="btn btn-lg btn-info mt-2" id="submit" name="submit" type="submit" value="Submit">
	</fieldset>
</form>

{% endblock content %}