{% extends "layout.html" %}
{% block content %}

<title>jQuery UI Slider - Range slider</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		$( "#temp-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 40, 70 ],
			slide: function( event, ui ) {
				// On change
				var min_F = ui.values[ 0 ];
				var max_F = ui.values[ 1 ];
				var min_C = ((5/9)*(min_F-32)).toFixed(1);
				var max_C = ((5/9)*(max_F-32)).toFixed(1);
				$( "#temp-field" ).val(min_F + " - " + max_F );
				$( "#temp-field-C" ).val(min_C + " - " + max_C);
			}
		});
		// Initialize
		var min_F = $( "#temp-range" ).slider( "values", 0 );
		var max_F = $( "#temp-range" ).slider( "values", 1 );
		$( "#temp-field" ).val(min_F +
			" - " + max_F );
		var min_C = ((5/9)*(min_F-32)).toFixed(1);
				var max_C = ((5/9)*(max_F-32)).toFixed(1);
		$( "#temp-field-C" ).val(min_C + " - " + max_C );
	} );
	</script>

	<script>
	$( function() {
		$( "#humidity-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 40 ],
			slide: function( event, ui ) {
				$( "#humidity-field" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
			}
		});
		$( "#humidity-field" ).val($( "#humidity-range" ).slider( "values", 0 ) +
			" - " + $( "#humidity-range" ).slider( "values", 1 ) );
	} );
	</script>

	<script>
	$( function() {
		$( "#precip-range" ).slider({
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 30 ],
			slide: function( event, ui ) {
				$( "#precip-field" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
			}
		});
		$( "#precip-field" ).val($( "#precip-range" ).slider( "values", 0 ) +
			" - " + $( "#precip-range" ).slider( "values", 1 ) );
	} );
	</script>


<h1 align="center" class="mb-2">Email Notification Setup Form</h1>
<p align="left"> <b> How to use this form: </b></br>Enter in your email and your preferred weather conditions, then hit submit. You will receive an email when the conditions are met. <p>
<hr class='class-4'>
 
<form method="POST" action="">

	{{ form.hidden_tag() }}
	<fieldset class="form-group">
	<div class="form-group">
		{{ form.email.label }}
		{% if form.email.errors %}
			{{ form.email(class="form-control form-control-sm is-invalid col-md-3") }}
			<div class="invalid-feedback">
				{% for error in form.email.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.email(class="form-control form-control-sm col-md-3 ") }}
		{% endif %}
	</div>

	<hr class='class-2'>

	<div class="form-group">
		{{ form.gps_str.label }}
		{% if form.gps_str.errors %}
			{{ form.gps_str(class="form-control form-control-sm is-invalid col-md-3") }}
			<div class="invalid-feedback">
				{% for error in form.gps_str.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.gps_str(class="form-control form-control-sm col-md-3") }} 
		{% endif %}
	</div>

	<hr class='class-2'>

	<div>
		<!-- <label for="temp-field">Temperature (&deg;F):</label>
		<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
		<div class="row">
			<div class="col">
				{{ form.temp.label }}
				{% if form.temp.errors %}
					{{ form.temp(class="form-control form-control-sm is-invalid col-md-7 mb-2") }}
					<div class="invalid-feedback">
						{% for error in form.temp.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.temp(class="form-control form-control-sm col-md-7 mb-2 ") }} 
				{% endif %}
			</div>
			<div class="col">
				<label for="temp-field-C">Temperature (&deg;C)</label></br>
				<input class="form-control form-control-sm col-md-7" id="temp-field-C" name="temp-C" type="text"> 
			</div>
			<div class="col">
			</div>
		</div>
		<div class='my-slider' id="temp-range"></div>
	</div>

	<hr class='class-2'>

	<div>
		<!-- <label for="temp-field">Temperature (&deg;F):</label>
		<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
		<div class="row">
			<div class="col">
			{{ form.humidity.label }}
			{% if form.humidity.errors %}
				{{ form.humidity(class="form-control form-control-sm is-invalid col-md-3 mb-2 ") }}
				<div class="invalid-feedback">
					{% for error in form.humidity.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.humidity(class="form-control form-control-sm col-md-7 mb-2 ") }}
			{% endif %}
			</div>
			<div class="col">
			</div>
			<div class="col">
			</div>
		</div>
		<div class='my-slider' id="humidity-range"></div>
	</div>

	<hr class='class-2'>

	<div>
		<!-- <label for="temp-field">Temperature (&deg;F):</label>
		<input type="text" name='temp' id="temp-field" readonly style="font-weight:bold;"> -->
		<div class="row">
			<div class="col">
			{{ form.precip.label }}
			{% if form.precip.errors %}
				{{ form.precip(class="form-control form-control-sm is-invalid col-md-7 mb-2") }}
				<div class="invalid-feedback">
					{% for error in form.precip.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.precip(class="form-control form-control-sm col-md-7 mb-2 ") }}
			{% endif %}
			</div>
			<div class="col">
			</div>
			<div class="col">
			</div>
		</div>
		<div class="my-slider" id="precip-range"></div>

	</div>
	

	<hr class='class-2'>
		<input class="btn btn-lg btn-info mt-2" id="submit" name="submit" type="submit" value="Submit">
	</fieldset>
</form>

<script>
function togglefield(checkboxElem) {
	var x = document.getElementById("email_field");
	if (checkboxElem.checked) {
		x.style.display = "block";
	} else {
		x.style.display = "none";
		}
	}
</script>

{% endblock content %}